# Report Creation in Excel

# Creating reports in excel directly from a Pandas dataframe

In [60]:
#importing the necessary libraries
from pymongo import MongoClient
import pandas as pd
from time import strftime

In [61]:
#create a connection to MongoDB and specify accidents collection
client=MongoClient('localhost',27017)
db=client.pythonbicookbook
collection=db.accidents

In [62]:
#retrieve first 1000 records where an accident happened on Friday
data=collection.find({"Day_of_Week":6}).limit(1000)

In [63]:
#create a new dataframe from mongodb query
df=pd.DataFrame(list(data))

In [64]:
df.head()

,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Index,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,...,Pedestrian_Crossing-Physical_Facilities,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,_id
0,6,0,6,0,2009120020975,3,2,2009-02-06,6,2,...,0,12,2,6,0,30,16:10:00.0000000,1,1,5a54af9af8bc7a2fd05e5bc5
1,6,0,-1,0,2009120016492,3,0,2009-01-30,6,2,...,0,12,1,6,0,30,08:15:00.0000000,2,1,5a54af9af8bc7a2fd05e5bd0
2,6,0,-1,0,2009120054955,3,0,2009-04-03,6,1,...,0,12,1,6,0,30,18:34:00.0000000,1,1,5a54af9af8bc7a2fd05e5bdc
3,6,0,6,0,2009120077183,3,0,2009-05-08,6,2,...,0,12,1,6,0,30,15:50:00.0000000,1,1,5a54af9af8bc7a2fd05e5be2
4,3,1036,6,0,2009120081070,3,0,2009-05-15,6,1,...,0,12,2,6,0,30,09:00:00.0000000,1,2,5a54af9af8bc7a2fd05e5be4

In [65]:
#drop the id column
df=df.drop(['_id'],axis=1)
df.head()

,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Index,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions
0,6,0,6,0,2009120020975,3,2,2009-02-06,6,2,...,0,0,12,2,6,0,30,16:10:00.0000000,1,1
1,6,0,-1,0,2009120016492,3,0,2009-01-30,6,2,...,0,0,12,1,6,0,30,08:15:00.0000000,2,1
2,6,0,-1,0,2009120054955,3,0,2009-04-03,6,1,...,0,0,12,1,6,0,30,18:34:00.0000000,1,1
3,6,0,6,0,2009120077183,3,0,2009-05-08,6,2,...,0,0,12,1,6,0,30,15:50:00.0000000,1,1
4,3,1036,6,0,2009120081070,3,0,2009-05-15,6,1,...,0,0,12,2,6,0,30,09:00:00.0000000,1,2

In [66]:
base_path="C:/Users/HP/Downloads/python/Business Intelligence/9781785287466_Code/ch5_reports/"

In [67]:
report_file_name=strftime("%Y-%m-%d") + "AccidentsReport.xlsx"

In [68]:
report_file = base_path + report_file_name

In [69]:
#next create a pandas excel writer using xlsxwriter as engine
writer=pd.ExcelWriter(report_file,engine='xlsxwriter')

In [46]:
#to write this file
df.to_excel(writer,
           sheet_name='Accidents',
           header=True,
           index=False,
           na_rep='')

In [47]:
writer.save()

# Creating customizable excel reports using xlsxwriter

In [108]:
import pandas as pd
from pymongo import MongoClient
from time import strftime
import xlsxwriter

In [109]:
client=MongoClient('localhost',27017)
db=client.pythonbicookbook
collection=db.accidents

In [110]:
#find data of friday and extract only 1000 records
data=collection.find({"Day_of_Week":6}).limit(1000)

In [111]:
# Create a variable to hold the path to our file
base_path="C:/Users/HP/Downloads/python/Business Intelligence/9781785287466_Code/ch5_reports/"
report_file_name = strftime("%Y-%m-%d") + " AccidentsReportMethod2.xlsx"
report_file = base_path + report_file_name

In [112]:
# Set up our Excel workbook
accident_report = xlsxwriter.Workbook(report_file, {'constant_memory': True,
                                                    'default_date_format': 'mm/dd/yy'})

In [113]:
#adding some formats to the excel file
xl_header_format=accident_report.add_format()
xl_header_format.set_bold()
xl_missing_format=accident_report.add_format()
xl_missing_format.set_bg_color('red')

In [114]:
#creating the iterators to loop through the data
e_row=0
e_col=0

In [115]:
#creating a worksheet to be added to notebook
worksheet=accident_report.add_worksheet('Accidents')

In [116]:
#get keys from collection to use as header of the file
headers=[]
doc=collection.find_one()
for key in doc:
    headers.append(key)

In [117]:
#delete the _id column
headers.remove('_id')

In [118]:
# Add the sheet header
i = 0
for header in headers:
    worksheet.write(e_row, e_col + i, headers[i])
    i += 1

# Add one so when we start adding the data we start at the next row in the spreadsheet 
e_row += 1

In [119]:
# Get the first 1000 records where the accident happened on a Friday
data = collection.find({"Day_of_Week": 6}).limit(1000)

In [120]:
for doc in data:
    e_col = 0
    for value in headers:
        worksheet.write(e_row, e_col, doc[value])
        e_col += 1
    e_row += 1

In [121]:
# Close the file
accident_report.close()